@model ProjtModel.Models.JogosViewModel;

@{
    ViewData["Title"] = "ExibirJogoView";
}

<h1> Exibir Jogo </h1>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ87Z9Cq3gbWvQVis0hqQOcojQi25GKnlGUDQ&s" />

<p> <strong>ID Jogo:</strong> @Model.IdJogo </p>
<p> <strong>Nome:</strong> @Model.Nome </p>
<p> <strong>Gênero:</strong> @Model.Genero </p>
<p> <strong>Produtora:</strong> @Model.Produtora </p>
<p> <strong>Ano de Lançamento:</strong> @Model.AnoLancamento </p>
<p> <strong>Nome do Personagem Principal:</strong> @Model.NomePersonagemPrincipal </p>
<p> <strong>Nome do Personagem Coadjuvante:</strong> @Model.NomePersonagemCoadjuvante </p>
<p> <strong>Idade Mínima:</strong> @Model.IdadeMin </p>
<p> <strong>Armazenamento Mínimo:</strong> @Model.ArmazenamentoMin GB</p>
<p> <strong>Horas De GamePlay:</strong> @Model.HorasDeJogo Horas</p>

<iframe width="1280" height="720" src="https://www.youtube.com/embed/jpyVfd8TyoI" allowfullscreen></iframe>


